_site/
*.sw[po]
*.~vsd
\#*\#
*~
.DS_Store
Gemfile.lock
.vscode/
.jekyll-metadata
/.idea/duobab.github.io.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/.gitignore
